.container{
    display: flex;
}

@media (max-width: 1024px) {
  .container {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .card img {
    width: 180px;
    height: 120px;
  }
}

@media (max-width: 600px) {
  .container {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
  .card img {
    width: 90vw;
    max-width: 250px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .card {
    width: 100%;
    padding: 0;
  }
}

.card{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.card img{
    width: 290px;
    height: 250px;
    object-fit: contain;
}

.card .content{
    font-family: var(--Font1);
    font-size: 18px;
    font-weight: 500;
    color: #2F3137;
    padding: 10px 3px;
    letter-spacing: -0.4px;
}

.card .readmore{
    color: #DB6885;
    padding: 10px 3px;
    position: relative;
    font-family: var(--Font2);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.card button {
    cursor: pointer;
}

.readmore span{
    position: absolute;
    top: 30%;
    right: 70%;
}