.container {
    text-align: center;
    margin-top: 10%;
}

@media (max-width: 1024px) {
  .container {
    padding: 2rem 2rem;
    margin-top: 5%;
  }
}

@media (max-width: 600px) {
    
  .container {
    padding: 1rem 0.5rem;
    margin-top: 10rem;
  }
}

.container a{
    color: #707070;
}

.container h3{
    color: #DB6885;
}

@media (min-width: 768px) {

    .container{
        padding: 3rem 10rem;
    }

}